body {
	margin-left: 400px;
	padding-top: 20px;
	text-align: center;
	width: 60%;
	border: solid 4px #ed2225;
    border-radius: 20px;
    position:fixed;
    
}
h1 {
	text-align: center;
	margin: 10px;
	padding: 20px;
	position: relative;
	top: 40px;
	font-family: "Amatic SC", cursive;
	letter-spacing: 2px;
	font-size: 56px;
	color: #35c2de;
}

input {
	width: 400px;
	margin: 5px;
	margin-left: 50px;
	padding: 10px;
	border-radius: 20px;
	position: fixed;
	top: 180px;
	left: 400px;
	color: #523b58;
	font-family: "Amatic SC", cursive;
	font-size: 25px;
}
button {
	position: fixed;
	width: 100px;
	margin: 5px;
	margin-left: 15px;
	padding: 15px;
	top: 180px;
	left: 850px;
	border-radius: 10px;
	font-family: "Amatic SC", cursive;
	background-color: #35c2de;
	color: #c31e25;
	font-weight: 20px;
}
h2 {
	text-align: center;
	position: fixed;
	width: 500px;
	margin: 5px;
	margin-left: 50px;
	padding: 15px;
	border: solid 3px black;
	border-radius: 10px;
	position: relative;
	left: 250px;
	top: 180px;
	font-family: "Amatic SC", cursive;
	word-spacing: 10px;
	color:#c31e25;
	
}
h3 {
	text-align: center;
	font-family: "Amatic SC", cursive;
	position: relative;
	top: 200px;
	word-spacing: 20px;
	letter-spacing: 2px;
}
h4 {
	position: relative;
	text-align: center;
	left: 1100px;
	bottom: 20px;
}
.temperature {
	position: relative;
	top: 200px;
	right: 200px;
}
.days {
	margin: 20px;
	margin-left: 350px;
	margin-right: 350px;
	padding: 10px;
	font-family: "Amatic SC", cursive;
	font-size: 40px;
	position: relative;
	right: 320px;
	top: 200px;

	text-align: center;
}
.forecast {
	position: relative;
	top: 280px;
	right: 290px;
	margin: 20px;
	margin-left: 300px;
	margin-right: 300px;
	padding: 15px;
	padding-left: 15px;
	font-family: "Amatic SC", cursive;
	font-size: 40px;
}
.col {
	text-align: center;
}
.mon {
	position: relative;
	right: 5px;
	margin: 10px;
	padding: 10px;
}
.tues {
	position: relative;
	right: 5px;
	margin: 10px;
	padding: 10px;
}
.wed {
	position: relative;
	right: 5px;
	margin: 10px;
	padding: 10px;
}
.thurs {
	position: relative;
	right: 5px;
	margin: 10px;
	padding: 10px;
}
.fri {
	position: relative;
	right: 5px;
	margin: 10px;
	padding: 10px;
}
.t1 {
	position: relative;
	left: 14px;
}
.t2 {
	position: relative;
	left: 13px;
}
.t3 {
	position: relative;
	left: 14px;
}
.t4 {
	position: relative;
	left: 14px;
}
.t5 {
	position: relative;
	left: 37px;
}
.date {
	position: relative;
	top: 30px;
	right: 280px;
	margin: 20px;
	margin-left: 300px;
	margin-right: 300px;
	padding: 15px;
	padding-left: 15px;
	font-family: "Amatic SC", cursive;
	font-size: 40px;
}

.d1 {
	margin: 5px;
	padding: 5px;
}

.d2 {
	position: relative;
	right: 6px;
	left: 5px;
	margin: 5px;
	padding: 5px;
}
.d3 {
	position: relative;
	right: 6px;
	left: 7px;
	margin: 5px;
	padding: 5px;
}
.d4 {
	position: relative;
	left: 11px;
	margin: 5px;
	padding: 5px;
}
.d5 {
	position: relative;
	right: 8px;
	left: 11px;
	margin: 5px;
	padding: 5px;
}
.weatherIcons {
	position: relative;
	top: -20px;
	right: 280px;
	margin: 20px;
	margin-left: 300px;
	margin-right: 300px;
	padding: 15px;
	padding-left: 15px;
	font-family: "Amatic SC", cursive;
	font-size: 45px;
	color: #c31e25;
}
.icon4{
    position:relative;
    left:12px;
}
.icon5 {
	position: relative;
	left:18px;
}
.highLowTemp {
	position: relative;
	top: -10px;
	right: 280px;
	margin: 20px;
	margin-left: 300px;
	margin-right: 300px;
	padding: 15px;
	padding-left: 15px;
	font-family: "Amatic SC", cursive;
	font-size: 45px;
	color: #141217;
}
strong {
	color: #ed2225;
	font-weight: bolder;
	font-style: italic;
}
.high5{
    position:relative;
    left:20px;
}